.tarjeta{
        background-color:#223142;
        border-radius:10px;
}

.color-name{color:whitesmoke;}

.boton-now{display:grid;
           grid-template-columns: repeat(2,1fr);
           background-color:#6ECCAF;
           border:0px;
           border-radius:5px;
           height: 35px;
}

.ancho-tarjeta{width:500px;}

.cierre-menu{background-color:#6ECCAF;
             color:#223142;
             border:0px;
             width:30px;
             height:30px;
}        

.lista-info{font-size:1.3rem;
            color:whitesmoke;
            list-style: none;
            padding:15px;   
}  
            
.lista-info:hover{background-color:#6ECCAF;
                  color:#223142;
                  font-weight:900; 
}  

.resaltar{font-weight:900}
