.fondo-nav{background-color: #344D67;
           top:0px;
           height:13vh;
           color:#6ECCAF;
           font-size:1.2rem; 
}

ul{ list-style-type: none;}

ul button{background-color: #344D67;
          color:#6ECCAF;
}     

.nav-hover:hover{background-color:#6ECCAF;
                 border-radius:15px;
                 color: #344D67;
}


