.fondo-nav{background-color: #344D67;
           top:0px;
           height:13vh;
           color:#6ECCAF;
           font-size:1.2rem;
           width:100%;  
}


.subra{list-style: none;}   

ul li:hover{background-color:#6ECCAF;
            border-radius:10px;
            color: #344D67;
                  
} 

.active{color: #344D67!important;
        background-color:#6ECCAF;
        border-radius:10px;
}







